# Configuration file for Dependabot (https://github.com/dependabot)

version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    open-pull-requests-limit: 1
    labels:
      - dependencies
    schedule:
      interval: daily
      time: "04:00"
