# Ignore everything ...
/*
# except ...

!/.version

## Build tooling
!/Dockerfile
!/Makefile

## Configuration
!/.actrc
!/.editorconfig
!/.hadolint.yml
!/.shellcheckrc
!/.shellspec
!/.tool-versions
!/.yamllint.yml

## OSS documentation
!/CHANGELOG.md
!/CONTRIBUTING.md
!/LICENSE
!/README.md
!/RELEASE.md
!/SECURITY.md

## Git
!/.gitattributes
!/.gitignore

## GitHub Actions
!/action.yml
!/commit/
/commit/**
!/commit/action.yml
!/commit/README.md
!/pr/
/pr/**
!/pr/action.yml
!/pr/README.md

## GitHub platform
!/.github/
/.github/**
!/.github/dependabot.yml
!/.github/labeler.yml
!/.github/workflows
/.github/workflows/**
!/.github/workflows/*.yml

## Source
!/bin/
/bin/**
!/bin/*.sh
!/lib/
/lib/**
!/lib/*.sh

## Test
!/spec/
/spec/**
!/spec/bin/
/spec/bin/**
!/spec/bin/*_spec.sh
!/spec/lib/
/spec/lib/**
!/spec/lib/*_spec.sh
!/spec/spec_helper.sh
