name: Publish
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

permissions: read-all

jobs:
  release-branch:
    name: Release branch
    runs-on: ubuntu-24.04
    permissions:
      contents: write # To push a branch update
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Get version
        id: version
        shell: bash
        run: |
          echo "result=${GITHUB_REF#refs/tags/}" >>"${GITHUB_OUTPUT}"
      - name: Get major version
        id: major_version
        env:
          VERSION: ${{ steps.version.outputs.result }}
        run: |
          echo "result=${VERSION%%.*}" >>"${GITHUB_OUTPUT}"
      - name: Update major version branch
        env:
          MAJOR_VERSION: ${{ steps.major_version.outputs.result }}
        run: |
          git push origin "HEAD:${MAJOR_VERSION}" --force
  github:
    name: GitHub Release
    runs-on: ubuntu-24.04
    permissions:
      contents: write # To create a GitHub Release
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Get version
        id: version
        shell: bash
        run: |
          echo "result=${GITHUB_REF#refs/tags/}" >>"${GITHUB_OUTPUT}"
      - name: Create GitHub Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          name: Release ${{ steps.version.outputs.result }}
          body: Release ${{ steps.version.outputs.result }}
          tag: ${{ steps.version.outputs.result }}
          draft: false
          makeLatest: true
          prerelease: false
