name: Test
on:
  pull_request: ~
  push:
    branches:
      - main

permissions: read-all

jobs:
  bare-action:
    name: Bare action
    runs-on: ubuntu-24.04
    needs:
      - unit
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Install tooling
        uses: asdf-vm/actions/install@1902764435ca0dd2f3388eea723a4f92a4eb8302 # v4.0.0
      - name: Run bare action
        uses: ./
  unit:
    name: Unit (${{ matrix.runs-on }})
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-22.04
          - ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Install tooling
        uses: asdf-vm/actions/install@1902764435ca0dd2f3388eea723a4f92a4eb8302 # v4.0.0
      - name: Install kcov (from package)
        if: ${{ matrix.runs-on != 'ubuntu-24.04' }}
        run: sudo apt-get install kcov
      - name: Install kcov (from source)
        if: ${{ matrix.runs-on == 'ubuntu-24.04' }}
        run: |
          sudo apt-get update
          sudo apt-get install binutils-dev libssl-dev libcurl4-openssl-dev libelf-dev libstdc++-12-dev zlib1g-dev libdw-dev libiberty-dev

          cd /tmp/
          git clone https://github.com/SimonKagstrom/kcov.git
          cd ./kcov/
          git checkout a39874f938ce13f7a65f253120d1ec946b349ffe # v43

          mkdir build
          cd ./build/
          cmake ..
          make
          sudo make install
      - name: Run unit tests
        run: make coverage
