name: Tooling
on:
  schedule:
    - cron: 0 4 * * *
  workflow_dispatch: ~

permissions: read-all

jobs:
  tooling:
    name: Update
    runs-on: ubuntu-24.04
    permissions:
      contents: write # To push a commit
      pull-requests: write # To open a Pull Request
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Create token to create Pull Request
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: automation-token
        with:
          app-id: ${{ secrets.AUTOMATION_ID }}
          private-key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}
      - name: Update tooling
        uses: ./pr
        with:
          labels: dependencies
          max: 2
          token: ${{ steps.automation-token.outputs.token }}
