name: Transitive Actions
on:
  schedule:
    - cron: 0 4 * * *
  workflow_dispatch: ~

permissions: read-all

jobs:
  tooling:
    name: Update
    runs-on: ubuntu-24.04
    permissions:
      contents: write # To push a commit
      pull-requests: write # To open a Pull Request
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Create token to create Pull Request
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: automation-token
        with:
          app-id: ${{ secrets.AUTOMATION_ID }}
          private-key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}
      - name: Update (and pin) all actions used by these actions
        run: make update-actions
        env:
          GH_ADMIN_TOKEN: ${{ github.token }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@67ccf781d68cd99b580ae25a5c18a1cc84ffff1f # v7.0.6
        with:
          token: ${{ steps.automation-token.outputs.token }}
          title: Update composite action dependencies
          body: |
            _This Pull Request was automatically generated by `transitive-actions.yml`_

            ---

            Bump the versions of dependencies used in composite action to the latest available version.

            If any dependency wasn't previously pinned, it should be pinned now.

            Please update the `CHANGELOG.md` in accordance with these changes before you merge this.
          labels: dependencies
          branch: action-deps-update
          commit-message: Update composite action dependencies
          add-paths: |
            commit/action.yml
            pr/action.yml
            action.yml
